.doctorsMainSection {
    background: url('../images/docBanner.png');
    background-repeat: no-repeat;
    background-position: 10% 30%;
    background-size: cover;
    width: 100%;
    height: 50vh;
    padding: 30px 20px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.searchForm {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    padding: 0 10%;
}

.searchForm > input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    transition: box-shadow 0.3s ease;
    border-radius: 14px;
    padding-left: 30px;
}

.searchForm > input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.searchIcon {
    font-size: 2.7rem;
    position: absolute;
    padding-right: 10px;
    cursor: pointer;
    transition-duration: 500ms;
}

.searchIcon:hover {
    color: rgb(3, 145, 86);
}

.allDoctors {
    width: 100%;
    min-height: 50vh;
    padding-top: 5% 10px;
}
.allDoctors {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 3%;
}

.tableSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.docTable {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.docTable > thead {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
}

td, th {
    font-size: 1.2rem;
}

.docTable > tbody {
    margin-top: 10px;
    height: 35vh;
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.docTable thead, .docTable tbody tr {
    width: 100%;
    table-layout: fixed;
  }

  .docTable td {
    padding: 6px 32px;
    border-radius: 30px;
  }

.docTable > tbody tr {
    display: flex;
    justify-content: space-around;
}

.linkToDoctor {
    text-decoration: none;
    color: black;
    transition-duration: 500ms;
}

.linkToDoctor:hover {
    color: rgb(1, 156, 84);
}

/* ******************* Responsive Screen *************************** */

@media only screen and (max-width: 600px) {
    .doctorsMainSection {
        height: 100vh;
    }

    .searchForm {
        width: 100%;
    }

    .searchForm > button {
        width: 50%;
        text-align: center;
    }

    .docTable {
        width: 85%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .searchForm > button {
        width: 50%;
        text-align: center;
    }
    .docTable {
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .searchForm > button {
        width: 30%;
        text-align: center;
    }

    .docTable {
        width: 60%;
    }
}




