.dermatologistContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white; 
  }
  


.informationToggle {
    display: none;
}

.closeBtn {
    display: none;
}

.contentsInfo {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.infoTreatment,
.informationDetails {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  transition-duration: 1000ms;
}

.infoTreatment {
  background: #007e85;
  color: white;
  border-right: 1px solid #ddd; 
}

.informationDetails {
  color: black;
}

.infoTreatment h1 {
    font-size: 6rem;
    text-align: center;
}

.infoTreatment p {
    text-align: center;
    font-size: 1.3rem;
    padding: 2% 7%;
}

.infoTreatment button {
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    transition-duration: 500ms;
}

.infoTreatment button:hover {
    background-color: #5d632b;
}

.carouselSection {
    width: 60%;
}

.heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #007e85;
}

.treatment-videos {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.treatment-videos > h3 {
    font-size: 3rem;
    border-bottom: 1px solid gray;
    color: #007e85;
    font-weight: 700;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.video-wrapper > a {
    text-decoration: none;
    margin-top: 10px;
    color: black;
    font-size: 3rem;
    transition-duration: 500ms;
}

.video-wrapper > a:hover {
    color:#007e85;
}

/* ******************* Responsive Screen *************************** */

@media only screen and (max-width: 600px) {
    .informationDetails {
        width: 100%;
    }
    .infoTreatment {
        display: none;
        flex: none;
    }

    .hiddenInfo {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        width: 100%;
    }

    .hiddenBtn {
        display: none;
        position: absolute;
    }

    .visibleClose {
        margin-top: 60px;
        margin-left: 190%;
        position: absolute;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        display: block;
    }

    .informationToggle {
        width: 40%;
        position: absolute;
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .informationToggle button {
        padding: 5% 10%;
        margin: 10px 20px;
        border: none;
        background-color: #007e85;
        color: wheat;
    }

    .hiddenInfo h1 {
        font-size: 3.5rem;
        padding: 0 2%;
    }

    .hiddenInfo p {
        font-size: 1.1rem;
        text-align: justify;
        padding: 0 10%;
    }

    .carouselSection {
        width: 100%;
    }

    .treatment-videos {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .infoTreatment {
        display: none;
        flex: none;
    }

    .hiddenInfo {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        width: 100%;
    }

    .hiddenBtn {
        display: none;
        position: absolute;
    }

    .visibleClose {
        margin-top: 60px;
        margin-left: 190%;
        position: absolute;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        display: block;
    }

    .informationToggle {
        width: 40%;
        position: absolute;
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .informationToggle button {
        padding: 5% 10%;
        margin: 10px 20px;
        border: none;
        background-color: #007e85;
        color: wheat;
    }

    .hiddenInfo h1 {
        font-size: 3.5rem;
        padding: 0 2%;
    }

    .hiddenInfo p {
        font-size: 1.1rem;
        text-align: justify;
        padding: 0 10%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .infoTreatment h1 {
        font-size: 4rem;
        padding: 0 2%;
    }

    .infoTreatment p {
        font-size: 1.2rem;
        text-align: justify;
        padding: 0 10%;
    }

    .infoTreatment button {
        margin-top: 10px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .infoTreatment h1 {
        font-size: 4rem;
        padding: 0 2%;
    }

    .infoTreatment p {
        font-size: 1.2rem;
        text-align: justify;
        padding: 0 10%;
    }

    .infoTreatment button {
        margin-top: 10px;
    }

    .informationDetails {
       max-height: 100vh;
    }
}




