/* Profile Container */
.profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

.profileImageSection {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImageSection img {
  width: 550px;
  height: auto;
  object-fit: cover;
}

/* Form Section */
.formSec {
  flex: 1;
  padding: 10px;
  max-width: 500px;
  width: 100%;
}

.formSec h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  font-weight: 700;
  text-align: left;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.update-btn {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  border: none;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}


.mt-3 {
  margin-top: 20px;
}

.loader {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: #000000;
}

/* Responsiveness */

@media (max-width: 768px) {
  .profileContainer {
    flex-direction: column;
    padding: 30px;
  }

  .profileImageSection {
    margin-bottom: 20px;
    text-align: center;
  }

  .formSec {
    max-width: 90%;
  }

  .profileImageSection img {
    width: 200px;
    /* Adjust profile image size for medium screens */
  }

  .formSec h1 {
    font-size: 1.5rem;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .update-btn {
    font-size: 1rem;
  }

  .profileImageSection img {
    width: 150px;
    /* Adjust profile image size for small screens */
  }
}

@media (max-width: 480px) {
  .profileImageSection img {
    width: 250px;
    /* Even smaller on very small screens */
  }

  .formSec h1 {
    font-size: 1.3rem;
    text-align: center;
  }
}