.background-image {
  background-color: #007e85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: rgb(0, 0, 0);
    font-weight: 600;
  }

  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .formBody {
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .titleUpImage {
    font-size: 2.4rem;
    color: white;
    text-align: center;
    margin: 0 10%;
  }

  .formSection {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
  }

  .imageSectionDoc {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .questionTitle {
    font-size: 2.6rem;
  }

  .inputFields {
    border: none;
    border-bottom: 1px solid #cec5c5;
    border-radius: 0;
    color: rgb(23, 86, 138);
  }

  .inputFields:focus {
    box-shadow: none;
  }
  
  .btn-custom {
    background-color: #007e85;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.4rem;
    border: none;
    border-radius: 20px;
    transition-duration: 500ms;
  }
  
  .btn-custom:hover {
    background-color: #138b08; /* Darker shade for hover effect */
  }

  .doctorPng {
    width: 70%;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .doctorPng > img {
    width: 86%;  
  }

  
/********************* Responsive design section **********************/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .background-image {
    width: 100%;
  }
  .twoSection {
    flex-direction: column;
    width: 100% !;
  }

  .formSection {
    order: 2;
    width: 100%;
    height: 70vh;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .imageSectionDoc {
    order: 1;
    width: 100%;
  }

  .doctorPng {
    width: 100%;
  }

  .doctorPng > img {
    width: 70%;
  }

  .titleUpImage > p {
    padding-top: 20px;
    font-size: 1.4rem;
  }

  .formBody {
    width: 100%;
  }

  .cardBody {
    height: 60vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .background-image {
    width: 100%;
  }
  .twoSection {
    flex-direction: column;
    width: 100% !;
  }

  .formSection {
    order: 2;
    width: 100%;
    height: 70vh;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .imageSectionDoc {
    order: 1;
    width: 100%;
  }

  .doctorPng {
    width: 100%;
  }

  .doctorPng > img {
    width: 50%;
  }

  .titleUpImage > p {
    padding-top: 20px;
    font-size: 1.7rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .background-image {
    width: 100%;
  }
  .twoSection {
    flex-direction: column;
    width: 100% !;
  }

  .formSection {
    order: 2;
    width: 100%;
    height: 85vh;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .imageSectionDoc {
    order: 1;
    width: 100%;
  }

  .doctorPng {
    width: 100%;
  }

  .doctorPng > img {
    width: 50%;
  }

  .titleUpImage > p {
    padding-top: 20px;
    font-size: 1.7rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .formBody {
    width: 80%;
    height: 50vh;
  }

  .doctorPng {
    width: 100%;
  }

  .doctorPng > img {
    width: 80%;
  }

  .titleUpImage > p {
    font-size: 2rem;
  }
}

