.treatmentContainer {
    width: 100%; /* Set a width less than 100% to allow centering */
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/bannerImage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.imageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(5, 5, 5, 0));
}


.imageContainer h2 {
    position: absolute;
    width: 30%;
    height: 20vh;
    font-size: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15% 3%;
    color: white;
}

.bannerSection {
    width: 100%;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
}

.bannerImage {
    background-color: blueviolet;
    
    width: 60%;
    min-height: 40vh;
}

.recommendationContainer {
    width: 100%;
    min-height: 70vh;
    padding: 7% 10%;
}

.recommendationContainer h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5%;
}

.recommendationContainer h1 span {
    background: linear-gradient(135deg, orange 60%, cyan);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recommendBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.boxes {
    width: 30%;
    padding: 2%;
    min-height: 30vh;
    background-color: rgb(4, 117, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes h3 {
    font-size: 2rem;
}

.boxes p {
    padding: 0 6%;
    text-align: justify;
}

.boxes strong {
    background-color: red;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

.boxes strong:hover {
    background-color: blue;
    transition: 0.5s ease;
}

/* ******************* Responsive Screen *************************** */

@media only screen and (max-width: 600px) {
    .imageContainer h2{
        display: none;
    }
    .recommendationContainer h1 {
        font-size: 2.4rem;
        text-align: center;
    }

    .boxes {
        width: 100%;
        padding: 3%;
    }

    .boxes h3 {
        font-size: 2.3rem;
        text-align: center;
    }

    .boxes p {
        font-size: 1.1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .imageContainer h2{
        width: 100%;
        margin-top: 630px;
        font-size: 2.7rem;
        padding: 0 10%;
        text-align: center;
    }

    .recommendationContainer h1 {
        font-size: 2.9rem;
        text-align: center;
    }

    .boxes {
        width: 100%;
        padding: 3%;
    }

    .boxes h3 {
        font-size: 2.3rem;
        text-align: center;
    }

    .boxes p {
        font-size: 1.1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .imageContainer h2{
        width: 100%;
        margin-top: 630px;
        font-size: 3rem;
        padding: 0 10%;
        text-align: center;
    }

    .recommendationContainer h1 {
        font-size: 2.9rem;
        text-align: center;
    }

    .boxes {
        width: 45%;
        padding: 3%;
    }

    .boxes h3 {
        font-size: 1.7rem;
        text-align: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .imageContainer h2{
        margin-top: 400px;
       font-size: 2.4rem;
    }

    .recommendationContainer h1 {
        font-size: 3rem;
    }

    .boxes {
        width: 45%;
        padding: 3%;
    }

    .boxes h3 {
        font-size: 1.7rem;
        text-align: center;
    }

}




