
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #333;
}
.search {
  width: 60%;
}


@media (max-width: 991px) {
  .search {
    margin-top: 2%;
    width: 100%;
  }
}
